.role-header {
  font-weight: 600;
  background-color: #f2f2f2;
}
.message {
  font-weight: bold;
  background-color: rgb(205, 239, 196);
  border: 3px solid white;
}
.alert {
  font-weight: bold;
  background-color: rgb(239, 196, 216);
  border: 3px solid white;
}
.hours-to-cover {
  color: rgb(254, 92, 76);
}
.hours-font {
  font-family: Consolas, Menlo, Monaco, Courier, monospace MONOSPACE;
  font-style: italic;
}
